#corpo {
  width: 1200px;
  height: 1400px;
  background-color: crimson;
  margin: auto;
}
#topo {
  width: 1200px;
  height: 200px;
  background-color: yellow;
}
#menu {
  width: 1200px;
  height: 60px;
  margin-top: 10px;
  background-color: chartreuse;
}
.container {
  background-color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.conteudo {
  width: 200px;
  height: 250px;
  background-color: azure;
  margin-top: 30px;
}
.container1 {
  background-color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
